{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<div id="app">
 <div class="question" id="question-1">
  <h3>1. Razif is an entrepreneur with no set income every month. After establishing his business, he is planning to get a car loan to purchase a new car. With his income of at least RM5,000 a month, which car loan should he get?</h3>
  <ul>
    <li data-correct="1" data-answer="That’s correct! Although the interest rate of a variable rate car loan is commonly higher than a conventional loan, it offers Razif the freedom to reduce the interest by making extra payments toward his car loan. <a href='http://www.imoney.my/articles/car-loans-in-malaysia-conventional-vs-variable-rate'>See Car Loans in Malaysia – Conventional vs Variable Rate</a> for more information.
">
      A. Variable Car Loan Rate
    </li>
    <li data-correct="0" data-answer="Not quite right. As Razif’s income is not fixed and may sometimes generate higher income through his business, a variable rate car loan offers this the opportunity to save on interest by paying more than the instalment. ">
      B. Conventional Car Loan
    </li>
  </ul>
  <div class="answer">
  </div>
</div>

<!-- <div class="question" id="question-2">
  <h3>2. Amy travels for business and leisure at least five times a year. Her father has been using his credit card to purchase air ticket and hotel rooms on her behalf. She is thinking of getting a credit card to make it more convenient to travel. Which of the following credit cards is the most suitable for her?</h3>
  <ul>
    <li data-correct="0" data-answer="Incorrect. As Amy is a frequent traveller, it makes sense for her to get a travel miles credit card  to speed up the accumulation of loyalty points. Check our <a href='http://www.imoney.my/credit-card'>credit cards comparison</a> tool to find out which credit card is the most suitable for you.  
">
      A. Reward points credit card
    </li>
    <li data-correct="0" data-answer="Incorrect. As Amy is a frequent traveller, it makes sense for her to get a travel miles credit card  to speed up the accumulation of loyalty points.
                                      Check our <a href='http://www.imoney.my/credit-card'>credit cards comparison</a> tool to find out which credit card is the most suitable for you.  
">
      B. Cashback credit card
    </li>
    <li data-correct="1" data-answer="That’s correct! Travel miles credit cards are reward-based cards which allow you to earn points or AirMiles when used for purchases. Some travel credit cards also offer discounts on travel packages or flight tickets. Since Amy is a frequent traveller, it makes sense for her to get a travel miles credit card  to speed up the accumulation of loyalty points. 
                                      Check our <a href='http://www.imoney.my/credit-card'>credit cards comparison</a> tool to find out which credit card is the most suitable for you.  
">C. Travel Miles Credit Card</li>
  </ul>
  <div class="answer">
    
  </div>
</div>

<div class="result">
  
</div> -->
</div>


{% endblock %}
